In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('mtcars.csv')

In [3]:
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [4]:
import os

In [5]:
os.getcwd()

'/home/vivek/anaconda 2/jupyter/pandas'

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data.columns

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [8]:
 data=pd.read_csv('mtcars.csv',nrows=10) #this perameter is used for select of roms for printing

In [9]:
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [10]:
data=pd.read_csv('mtcars.csv',usecols=[2,0]) # it used for select of columns for printing

In [11]:
data

                  model  cyl
0             Mazda RX4    6
1         Mazda RX4 Wag    6
2            Datsun 710    4
3        Hornet 4 Drive    6
4     Hornet Sportabout    8
5               Valiant    6
6            Duster 360    8
7             Merc 240D    4
8              Merc 230    4
9              Merc 280    6
10            Merc 280C    6
11           Merc 450SE    8
12           Merc 450SL    8
13          Merc 450SLC    8
14   Cadillac Fleetwood    8
15  Lincoln Continental    8
16    Chrysler Imperial    8
17             Fiat 128    4
18          Honda Civic    4
19       Toyota Corolla    4
20        Toyota Corona    4
21     Dodge Challenger    8
22          AMC Javelin    8
23           Camaro Z28    8
24     Pontiac Firebird    8
25            Fiat X1-9    4
26        Porsche 914-2    4
27         Lotus Europa    4
28       Ford Pantera L    8
29         Ferrari Dino    6
30        Maserati Bora    8
31           Volvo 142E    4

In [12]:
data=pd.read_csv('mtcars.csv',usecols=[2,3,5])

In [13]:
data

    cyl   disp  drat
0     6  160.0  3.90
1     6  160.0  3.90
2     4  108.0  3.85
3     6  258.0  3.08
4     8  360.0  3.15
5     6  225.0  2.76
6     8  360.0  3.21
7     4  146.7  3.69
8     4  140.8  3.92
9     6  167.6  3.92
10    6  167.6  3.92
11    8  275.8  3.07
12    8  275.8  3.07
13    8  275.8  3.07
14    8  472.0  2.93
15    8  460.0  3.00
16    8  440.0  3.23
17    4   78.7  4.08
18    4   75.7  4.93
19    4   71.1  4.22
20    4  120.1  3.70
21    8  318.0  2.76
22    8  304.0  3.15
23    8  350.0  3.73
24    8  400.0  3.08
25    4   79.0  4.08
26    4  120.3  4.43
27    4   95.1  3.77
28    8  351.0  4.22
29    6  145.0  3.62
30    8  301.0  3.54
31    4  121.0  4.11

In [14]:
data=pd.read_csv('mtcars.csv',skiprows=2) # it is used for skip the rows,.it skiprows=2 it mean two rows are skip

In [15]:
data

          Mazda RX4 Wag    21  6    160  110   3.9  2.875  17.02  0  1  4  4.1
0            Datsun 710  22.8  4  108.0   93  3.85  2.320  18.61  1  1  4    1
1        Hornet 4 Drive  21.4  6  258.0  110  3.08  3.215  19.44  1  0  3    1
2     Hornet Sportabout  18.7  8  360.0  175  3.15  3.440  17.02  0  0  3    2
3               Valiant  18.1  6  225.0  105  2.76  3.460  20.22  1  0  3    1
4            Duster 360  14.3  8  360.0  245  3.21  3.570  15.84  0  0  3    4
5             Merc 240D  24.4  4  146.7   62  3.69  3.190  20.00  1  0  4    2
6              Merc 230  22.8  4  140.8   95  3.92  3.150  22.90  1  0  4    2
7              Merc 280  19.2  6  167.6  123  3.92  3.440  18.30  1  0  4    4
8             Merc 280C  17.8  6  167.6  123  3.92  3.440  18.90  1  0  4    4
9            Merc 450SE  16.4  8  275.8  180  3.07  4.070  17.40  0  0  3    3
10           Merc 450SL  17.3  8  275.8  180  3.07  3.730  17.60  0  0  3    3
11          Merc 450SLC  15.2  8  275.8  180  3.07  3.780  18.00  0  0  3    3
12   Cadillac Fleetwood  10.4  8  472.0  205  2.93  5.250  17.98  0  0  3    4
13  Lincoln Continental  10.4  8  460.0  215  3.00  5.424  17.82  0  0  3    4
14    Chrysler Imperial  14.7  8  440.0  230  3.23  5.345  17.42  0  0  3    4
15             Fiat 128  32.4  4   78.7   66  4.08  2.200  19.47  1  1  4    1
16          Honda Civic  30.4  4   75.7   52  4.93  1.615  18.52  1  1  4    2
17       Toyota Corolla  33.9  4   71.1   65  4.22  1.835  19.90  1  1  4    1
18        Toyota Corona  21.5  4  120.1   97  3.70  2.465  20.01  1  0  3    1
19     Dodge Challenger  15.5  8  318.0  150  2.76  3.520  16.87  0  0  3    2
20          AMC Javelin  15.2  8  304.0  150  3.15  3.435  17.30  0  0  3    2
21           Camaro Z28  13.3  8  350.0  245  3.73  3.840  15.41  0  0  3    4
22     Pontiac Firebird  19.2  8  400.0  175  3.08  3.845  17.05  0  0  3    2
23            Fiat X1-9  27.3  4   79.0   66  4.08  1.935  18.90  1  1  4    1
24        Porsche 914-2  26.0  4  120.3   91  4.43  2.140  16.70  0  1  5    2
25         Lotus Europa  30.4  4   95.1  113  3.77  1.513  16.90  1  1  5    2
26       Ford Pantera L  15.8  8  351.0  264  4.22  3.170  14.50  0  1  5    4
27         Ferrari Dino  19.7  6  145.0  175  3.62  2.770  15.50  0  1  5    6
28        Maserati Bora  15.0  8  301.0  335  3.54  3.570  14.60  0  1  5    8
29           Volvo 142E  21.4  4  121.0  109  4.11  2.780  18.60  1  1  4    2

In [16]:
data=pd.read_csv('mtcars.csv',skiprows=[1,2,3])

In [17]:
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
1,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
2,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
3,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
4,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
5,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
6,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
7,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
8,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
9,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
10,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
11,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
12,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
13,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
14,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
15,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
16,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
17,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
18,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
19,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
20,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
21,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
22,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
23,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
24,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
25,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
26,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
27,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
28,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [18]:
 data=pd.read_csv('mtcars.csv', index_col='model') #it will used for making the index of any columns hum issme kisi ka bhi coloumn ko index bana skta hai

In [19]:
data.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [20]:
data=pd.read_csv('mtcars.csv', index_col='vs')

In [21]:
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,am,gear,carb
vs,,,,,,,,,,,
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,1,4,4
0,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,1,4,4
1,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,4,1
1,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,0,3,1
0,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,3,2
1,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,0,3,1
0,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,3,4
1,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,0,4,2
1,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,0,4,2
1,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,0,4,4
1,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,0,4,4
0,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,3,3
0,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,3,3
0,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,3,3
0,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,3,4
0,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,3,4
0,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,3,4
1,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,4,1
1,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,4,2
1,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,4,1
1,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,0,3,1
0,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,3,2
0,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,3,2
0,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,3,4
0,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,3,2
1,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,4,1
0,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,1,5,2
1,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,5,2
0,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,1,5,4
0,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,1,5,6
0,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,1,5,8
1,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,4,2

In [22]:
 data=pd.read_csv('mtcars.csv')

In [23]:

data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [24]:
data=pd.read_csv('mtcars.csv', header=1) # it's used for making the heading of any row .issme hum kisi bhi row
# ko heading bana skte hai...

In [25]:
data.head()

           Mazda RX4    21  6    160  110   3.9   2.62  16.46  0  1  4  4.1
0      Mazda RX4 Wag  21.0  6  160.0  110  3.90  2.875  17.02  0  1  4    4
1         Datsun 710  22.8  4  108.0   93  3.85  2.320  18.61  1  1  4    1
2     Hornet 4 Drive  21.4  6  258.0  110  3.08  3.215  19.44  1  0  3    1
3  Hornet Sportabout  18.7  8  360.0  175  3.15  3.440  17.02  0  0  3    2
4            Valiant  18.1  6  225.0  105  2.76  3.460  20.22  1  0  3    1

In [26]:
data=pd.read_csv('mtcars.csv',  header=None,) # jab hum heading nahi chahiya.it we do not required the heading of data

In [27]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
2,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
3,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
4,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1

In [28]:
ata=pd.read_csv('mtcars.csv',  header=None,prefix = 'col') # it used for provide the heading particular column

# it is not run because in above list ,we used the prefix fuction with header

In [29]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
2,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
3,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
4,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1

In [32]:
 ata=pd.read_csv('mtcars.csv',  names=['1','2','3','4','5','6','7','8','9','0','11','21']) #it does not run because in above list we used header,prefix fuction
# it is prvide heading of particular

In [31]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
2,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
3,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
4,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1